 <widget id="A222222222"  version="0.0.1">

    <name>轮播图Demo</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="https://www.apicloud.com">

        Developer

    </author>

    <content src="config.json" />

    <access origin="*" />

	<preference name="debug" value="true"/>

	<preference name="statusBarAppearance" value="true"/>

    <preference name="avm" value="true"/>

</widget>

